<div class="row justify-content-center no-gutters" data-bind="if: App.game.gameState == GameConstants.GameState.battleTree">
    <div class="col no-gutters">

        <!-- ko if: App.game.battleTree.currentRun?.battle -->
        <div class="row justify-content-center">
            <div class="col-6" data-bind="with: App.game.battleTree.currentRun?.battle.pokemonA">
                <img src="" alt="" data-bind="attr: { src: PokemonHelper.getImage(PokemonHelper.getPokemonByName($data.name).id) }">
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="
                        style: { width: ($data.hitPoints / $data.maxHitPoints).toLocaleString('en-US', { style: 'percent' }) }
                    ">
                        <span><knockout data-bind="text: $data.hitPoints.toLocaleString('en-US')"></knockout> / <knockout data-bind="text: $data.maxHitPoints.toLocaleString('en-US')"></knockout></span>
                    </div>
                </div>
            </div>

            <div class="col-6" data-bind="with: App.game.battleTree.currentRun?.battle.pokemonB">
                <img src="" alt="" data-bind="attr: { src: PokemonHelper.getImage(PokemonHelper.getPokemonByName($data.name).id) }">
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="
                        style: { width: ($data.hitPoints / $data.maxHitPoints).toLocaleString('en-US', { style: 'percent' }) }
                    ">
                        <span><knockout data-bind="text: $data.hitPoints.toLocaleString('en-US')"></knockout> / <knockout data-bind="text: $data.maxHitPoints.toLocaleString('en-US')"></knockout></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
