<!-- ko if: App.game.gameState === GameConstants.GameState.battleTree -->
<div id="battleTreeInformation" class="card sortable-disabled border-secondary mb-3 battle-frontier no-select">
    <div class="card-header p-0">
        <span>Battle Tree</span>
    </div>

    <div class="card-body">
        <!-- Team Management -->
        <div class="d-flex flex-wrap justify-content-center" data-bind="if: App.game.battleTree.currentRun">
            <!-- Your Team -->
            <div class="card flex-grow-1">
                <div class="card-header">Your Team</div>
                <div class="card-body">
                    <!-- ko foreach: App.game.battleTree.currentRun.teamA -->
                    <div class="d-flex clickable" data-bind="
                        css: { 'bg-info': $data.name === App.game.battleTree.currentRun.selectedPokemon },
                        click: () => App.game.battleTree.currentRun.selectedPokemon = $data.name
                    ">
                        <div>
                            <img width="56" height="56" src="" alt="" data-bind="attr: { src: PokemonHelper.getImage(PokemonHelper.getPokemonByName($data.name).id) }">
                            <div>Level <knockout data-bind="text: $data.level"></knockout></div>
                        </div>
                        <div class="flex-grow-1">
                            <div>A: <knockout data-bind="text: $data.attack"></knockout></div>
                            <div>D: <knockout data-bind="text: $data.defense"></knockout></div>
                            <div>S: <knockout data-bind="text: $data.attackSpeed"></knockout></div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="
                                    css: {
                                        'bg-success': $data.hitPoints / $data.maxHitPoints >= 0.5,
                                        'bg-warning': $data.hitPoints / $data.maxHitPoints >= 0.2 && $data.hitPoints / $data.maxHitPoints < 0.5,
                                        'bg-danger': $data.hitPoints / $data.maxHitPoints < 0.2
                                    },
                                    style: { width: ($data.hitPoints / $data.maxHitPoints).toLocaleString('en-US', { style: 'percent' }) }
                                ">
                                    <!-- ko if: $data.hitPoints > 0 -->
                                    <span><knockout data-bind="text: $data.hitPoints.toLocaleString('en-US')"></knockout> / <knockout data-bind="text: $data.maxHitPoints.toLocaleString('en-US')"></knockout></span>
                                    <!-- /ko -->
                                    <!-- ko ifnot: $data.hitPoints > 0 -->
                                    <span class="font-italic">Fainted</span>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->

                    <button class="btn btn-secondary" data-bind="
                        click: () => App.game.battleTree.currentRun.fillPlayerATeamRandomly(),
                        enable: App.game.battleTree.currentRun.state === BattleTreeRunState.TEAM_SELECTION
                    ">
                        Random fill
                    </button>
                </div>
            </div>

            <!-- Opponent -->
            <div class="card flex-grow-1">
                <div class="card-header">Opponent</div>
                <div class="card-body">
                    <!-- ko foreach: App.game.battleTree.currentRun.teamB -->
                    <div class="d-flex">
                        <div>
                            <img width="56" height="56" src="" alt="" data-bind="attr: { src: PokemonHelper.getImage(PokemonHelper.getPokemonByName($data.name).id) }">
                            <div>Level <knockout data-bind="text: $data.level"></knockout></div>
                        </div>
                        <div class="flex-grow-1">
                            <div>A: <knockout data-bind="text: $data.attack"></knockout></div>
                            <div>D: <knockout data-bind="text: $data.defense"></knockout></div>
                            <div>S: <knockout data-bind="text: $data.attackSpeed"></knockout></div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="
                                    css: {
                                        'bg-success': $data.hitPoints / $data.maxHitPoints >= 0.5,
                                        'bg-warning': $data.hitPoints / $data.maxHitPoints >= 0.2 && $data.hitPoints / $data.maxHitPoints < 0.5,
                                        'bg-danger': $data.hitPoints / $data.maxHitPoints < 0.2
                                    },
                                    style: { width: ($data.hitPoints / $data.maxHitPoints).toLocaleString('en-US', { style: 'percent' }) }
                                ">
                                    <!-- ko if: $data.hitPoints > 0 -->
                                    <span><knockout data-bind="text: $data.hitPoints.toLocaleString('en-US')"></knockout> / <knockout data-bind="text: $data.maxHitPoints.toLocaleString('en-US')"></knockout></span>
                                    <!-- /ko -->
                                    <!-- ko ifnot: $data.hitPoints > 0 -->
                                    <span class="font-italic">Fainted</span>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>

        <!-- ko if: App.game.battleTree.currentRun?.state === BattleTreeRunState.FINISHED -->
        <div>
            <div>Ending stage: <knockout data-bind="text: App.game.battleTree.currentRun.stage"></knockout></div>
        </div>
        <!-- /ko -->


        <!-- ko if: App.game.battleTree.currentRun === null -->
        <button class="btn btn-block btn-success text-light" data-bind="
            click: () => App.game.battleTree.createNewBattleTreeRun()
        ">
            Enter
        </button>
        <!-- /ko -->

        <!-- ko if: App.game.battleTree.currentRun?.state === BattleTreeRunState.TEAM_SELECTION -->
        <button class="btn btn-block btn-success text-light" data-bind="
            click: () => App.game.battleTree.currentRun.startRun(),
            enable: App.game.battleTree.currentRun.teamA.length > 0
        ">
            Start
        </button>
        <!-- /ko -->

        <!-- ko if: App.game.battleTree.currentRun -->
        <button class="btn btn-block btn-danger text-light" data-bind="
            click: () => App.game.battleTree.abortRun()
        ">
            Abort
        </button>
        <!-- /ko -->

        <button class="btn btn-block btn-danger text-light" data-bind="
            click: () => App.game.battleTree.leave()
        ">
            Leave
        </button>
    </div>
</div>
<!-- /ko -->
