<!-- ko if: App.game.gameState === GameConstants.GameState.battleTree -->
<div id="battleTreeInformation" class="card sortable-disabled border-secondary mb-3 battle-frontier no-select">
    <div class="card-header p-0">
        <span>Battle Tree</span>
    </div>

    <div class="card-body">

        <!-- ko if: App.game.battleTree.currentRun === null -->
        <button class="btn btn-block btn-success text-light" data-bind="
            click: () => App.game.battleTree.createNewBattleTreeRun()
        ">
            Enter
        </button>
        <!-- /ko -->

        <!-- ko if: App.game.battleTree.currentRun?.state === BattleTreeRunState.TEAM_SELECTION -->
        <button class="btn btn-block btn-success text-light" data-bind="
            click: () => App.game.battleTree.currentRun.startRun(),
            enable: App.game.battleTree.currentRun.teamA.length > 0
        ">
            Start
        </button>
        <!-- /ko -->

        <!-- ko if: App.game.battleTree.currentRun -->
        <button class="btn btn-block btn-danger text-light" data-bind="
            click: () => App.game.battleTree.abortRun()
        ">
            Abort
        </button>
        <!-- /ko -->

        <button class="btn btn-block btn-danger text-light" data-bind="
            click: () => App.game.battleTree.leave()
        ">
            Leave
        </button>
    </div>
</div>
<!-- /ko -->
