<div class="" data-bind="if: App.game.gameState == GameConstants.GameState.battleTree">
    <div class="d-flex flex-column" style="height: 280px; display: block;">

        <h2 class="" style="background-color: rgba(0,0,0,70%); margin: 0;">Battle</h2>

        <!-- ko if: App.game.battleTree.currentRun?.state === BattleTreeRunState.BATTLE && App.game.battleTree.currentRun?.battle -->
        <div class="flex-grow-1" style="display: grid; grid-template-columns: auto 1fr 1fr auto; align-items: center; gap: 1rem; padding: 1rem;">
            <div class="d-flex flex-column justify-content-center" style="padding: 0.25rem; gap: 0.25rem; background-color: rgba(0,0,0,50%);">
                <!-- ko foreach: App.game.battleTree.currentRun.teamA -->
                <img width="60" height="60" style="object-fit: contain" src="" alt="" data-bind="
                        click: () => {
                            if ($data.hitPoints > 0) {
                                App.game.battleTree.currentRun.selectedPokemon = $data.name
                            }
                        },
                        css: {
                            'clickable': $data.hitPoints > 0,
                            'battle-tree-pokemon-fainted': $data.hitPoints === 0,
                        },
                        attr: { src: PokemonHelper.getImage(PokemonHelper.getPokemonByName($data.name).id) }
                    ">
                <!-- /ko -->
            </div>

            <div data-bind="using: App.game.battleTree.currentRun?.battle.pokemonA">
                <img src="" alt="" data-bind="
                    attr: {
                        id: `animate-damage-${$data.uuid}`,
                        src: PokemonHelper.getImage(PokemonHelper.getPokemonByName($data.name).id)
                    }
                ">
                <div data-bind="text: PokemonHelper.displayName($data.name)"></div>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="
                        css: {
                            'bg-success': $data.hitPoints / $data.maxHitPoints >= 0.5,
                            'bg-warning': $data.hitPoints / $data.maxHitPoints >= 0.2 && $data.hitPoints / $data.maxHitPoints < 0.5,
                            'bg-danger': $data.hitPoints / $data.maxHitPoints < 0.2
                        },
                        style: { width: ($data.hitPoints / $data.maxHitPoints).toLocaleString('en-US', { style: 'percent' }) }
                    ">
                        <!-- ko if: $data.hitPoints > 0 -->
                        <span><knockout data-bind="text: $data.hitPoints.toLocaleString('en-US')"></knockout> / <knockout data-bind="text: $data.maxHitPoints.toLocaleString('en-US')"></knockout></span>
                        <!-- /ko -->
                        <!-- ko ifnot: $data.hitPoints > 0 -->
                        <span class="font-italic">Fainted</span>
                        <!-- /ko -->
                    </div>
                </div>
            </div>

            <div data-bind="using: App.game.battleTree.currentRun?.battle.pokemonB">
                <img src="" alt="" data-bind="
                    attr: {
                        id: `animate-damage-${$data.uuid}`,
                        src: PokemonHelper.getImage(PokemonHelper.getPokemonByName($data.name).id)
                    }
                ">
                <div data-bind="text: PokemonHelper.displayName($data.name)"></div>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="
                        css: {
                            'bg-success': $data.hitPoints / $data.maxHitPoints >= 0.5,
                            'bg-warning': $data.hitPoints / $data.maxHitPoints >= 0.2 && $data.hitPoints / $data.maxHitPoints < 0.5,
                            'bg-danger': $data.hitPoints / $data.maxHitPoints < 0.2
                        },
                        style: { width: ($data.hitPoints / $data.maxHitPoints).toLocaleString('en-US', { style: 'percent' }) }
                    ">
                        <!-- ko if: $data.hitPoints > 0 -->
                        <span><knockout data-bind="text: $data.hitPoints.toLocaleString('en-US')"></knockout> / <knockout data-bind="text: $data.maxHitPoints.toLocaleString('en-US')"></knockout></span>
                        <!-- /ko -->
                        <!-- ko ifnot: $data.hitPoints > 0 -->
                        <span class="font-italic">Fainted</span>
                        <!-- /ko -->
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column justify-content-center" style="padding: 0.25rem; gap: 0.25rem; background-color: rgba(0,0,0,50%);">
                <!-- ko foreach: App.game.battleTree.currentRun.teamB -->
                <img width="60" height="60" style="object-fit: contain" src="" alt="" data-bind="
                        css: { 'battle-tree-pokemon-fainted': $data.hitPoints === 0 },
                        attr: { src: PokemonHelper.getImage(PokemonHelper.getPokemonByName($data.name).id) }
                    ">
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->

        <!-- ko if: App.game.battleTree.currentRun?.state === BattleTreeRunState.FINISHED -->
        <div class="flex-grow-1"></div>
        <!-- /ko -->

        <!-- ko if: App.game.battleTree.currentRun?.state === BattleTreeRunState.MODIFIER -->
        <!-- /ko -->

        <!-- ko if: App.game.battleTree.currentRun -->
        <h2 class="" style="background-color: rgba(0,0,0,70%); margin: 0; font-size: 1rem;">
            <knockout>
                Stage <knockout data-bind="text: App.game.battleTree.currentRun.stage"></knockout> - <code data-bind="text: GameConstants.formatTime(App.game.battleTree.currentRun.combatTime)"></code>
            </knockout>
        </h2>
        <!-- /ko -->
    </div>
</div>
