<!-- ko if: App.game.gameState === GameConstants.GameState.battleTree -->
<div id="battleTreeInformation" class="card sortable-disabled border-secondary mb-3 no-select">
    <div class="card-header p-0">
        <span>Battle Tree</span>
    </div>

    <div class="card-body d-flex flex-column p-2" style="gap: 0.5rem;">

        <section class="d-flex flex-column">
            <small class="text-center" style="font-size: 0.675rem">State: <knockout data-bind="text: App.game.battleTree.sequence.state"></knockout></small>
            <small class="text-center" style="font-size: 0.675rem">Seed: <knockout data-bind="text: App.game.battleTree.sequence.seed"></knockout></small>
        </section>

        <!-- ko if: App.game.battleTree.sequence.state === BattleTreeSequenceState.PREPARATION -->
        <section>
            <h4>Team selection</h4>
            <div><small class="text-center" style="font-size: 0.675rem"><knockout data-bind="text: App.game.battleTree.sequence.sequenceSubset().name"></knockout></small></div>

            <div class="d-flex flex-wrap justify-content-center mt-3" style="gap: 0.25rem;">
                <!-- ko foreach: App.game.battleTree.sequence.candidates -->
                <!-- ko with: pokemonMap[$data] -->
                <a class="select-pokemon p-1" style="" data-caught="App.game.party.alreadyCaughtPokemonByName($data.name)" data-bind="
                    enable: App.game.battleTree.sequence.teams['Team_A'].hasPokemon($data.name) || (!App.game.battleTree.sequence.teams['Team_A'].isFull && App.game.party.alreadyCaughtPokemonByName($data.name)),
                    click: () => { BattleTreeUtil.clickCandidate($data.name) },
                    css: {
                        'clickable': App.game.battleTree.sequence.teams['Team_A'].hasPokemon($data.name) || (!App.game.battleTree.sequence.teams['Team_A'].isFull && App.game.party.alreadyCaughtPokemonByName($data.name))
                    },
                    style: {
                        '--type-0': GameConstants.TypeColor[pokemonMap[$data.name].type[0]],
                        '--type-1': GameConstants.TypeColor[pokemonMap[$data.name].type[1]] ?? GameConstants.TypeColor[pokemonMap[$data.name].type[0]],
                        'opacity': App.game.battleTree.sequence.teams['Team_A'].isFull && !App.game.battleTree.sequence.teams.Team_A.hasPokemon($data.name) ? 0.4 : 1
                    },
                    attr: {
                        'data-seen': PokedexHelper.pokemonSeen($data.id)(),
                        'data-caught': App.game.party.alreadyCaughtPokemonByName($data.name) ? 'true' : 'false',
                        'data-in-team': App.game.battleTree.sequence.teams['Team_A'].hasPokemon($data.name),
                    },
                    tooltip: PokedexHelper.pokemonSeen($data.id)() ? {
                        trigger: 'hover',
                        title: PokemonHelper.displayName($data.name),
                        placement: 'bottom'
                    } : null,
                ">
                    <img width="32" height="32" src="" alt="" data-bind="
                        css: {
                            'pokemon-not-seen': !PokedexHelper.pokemonSeen($data.id)(),
                            'pokemon-seen-but-not-caught': !App.game.party.alreadyCaughtPokemonByName($data.name) && PokedexHelper.pokemonSeen($data.id)()
                        },
                        attr: {
                            src: PokemonHelper.getImage($data.id)
                        }
                    ">
                </a>
                <!-- /ko -->
                <!-- /ko -->
            </div>

            <div class="d-flex justify-content-center mt-3" style="gap: 1rem;">
                <button class="btn btn-info" onclick="BattleTreeUtil.clickRandomTeam()" data-bind="
                        tooltip: {
                            trigger: 'hover',
                            title: 'Load random team',
                            placement: 'bottom',
                        }
                    ">
                    ↻
                </button>

                <button class="btn btn-success" style="width: 150px;" onclick="App.game.battleTree.sequence.startFighting()" data-bind="
                        enable: App.game.battleTree.sequence.teams['Team_A'].canStart > 0,
                        tooltip: {
                            trigger: 'hover',
                            title: `Select between ${App.game.battleTree.sequence.teams['Team_A'].minTeamSize} and ${App.game.battleTree.sequence.teams['Team_A'].maxTeamSize} pokemon for your team.`,
                            placement: 'bottom',
                        }
                    ">
                    Start
                </button>

                <button class="btn btn-info" data-bind="
                        click: () => { },
                        enable: false,
                        tooltip: {
                            trigger: 'hover',
                            title: 'Load previous team',
                            placement: 'bottom',
                        }
                    ">
                    ⏎
                </button>
            </div>
        </section>
        <!-- /ko -->

        <a class="btn btn-block btn-danger text-light" onclick="App.game.battleTree.leave()">Leave</a>
    </div>
</div>
<!-- /ko -->
